{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'graphy/style.css' %}">

<h1>Graphy</h1>

<!-- <form method="POST">
  {% csrf_token %}
  <input type="text" name="option" />
  <input type="submit">
</form> -->

<form method="POST">
  {% csrf_token %}
  {{form}}

  <input type="submit" value="Submit">
</form>



<!--<form method="POST">
  {% csrf_token %}
<select name="option">
  <option value="5 E LTD.">5 E LTD.</option>
  <option value="WOODSPEEN TRAINING LIMITED">WOODSPEEN TRAINING LIMITED</option>
  <option value="ABINGDON AND WITNEY COLLEGE">ABINGDON AND WITNEY COLLEGE</option>
  <option value="ACACIA TRAINING AND DEVELOPMENT LTD">ACACIA TRAINING AND DEVELOPMENT LTD</option>
  <option value="ACACIA TRAINING LIMITED">ACACIA TRAINING LIMITED</option>
  <option value="ACCESS TO MUSIC LIMITED">ACCESS TO MUSIC LIMITED</option>

  </optgroup>
</select>
<input type="submit" value="Submit">
</form> -->


{% if data %}
<div class="first-data">

  {% for row in data %}
  <p>
    {{ row.0 }} | {{ row.1 }} || {{row.2}} | {{row.3}} ||| {{row.4}}
  </p>
  {% endfor %}
</div>
{% endif %}

{% if second_data %}
  {% for row in second_data %}
  <p>
    {{ row.1 }}
  </p>
  {% endfor %}
{% endif %}
