{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'graphy/style.css' %}">

<h1>Graphy</h1>

<!-- <form method="POST">
  {% csrf_token %}
  <input type="text" name="option" />
  <input type="submit">
</form> -->

<form method="POST">
  {% csrf_token %}
  {{provider_form}}
  {{completion_form}}
  <input type="submit" value="Submit">
</form>

{% if selected_data %}
<div class="first-data">
    {% for key, value in selected_data.items %}
      {{ value }}
      <h1>Compared to....</h1>
    {% endfor %}
</div>
{% endif %}
