/* ===¦IMPORTS¦=== */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:900');


/* ===¦OVERALL¦=== */
.body {
  background-color: #DEF2F1;
  padding: 0.01%;
}


/* ===¦HEADER¦=== */

.title-bar {
  background-color: #477270;
  margin-bottom: 1%;
  padding: 1.5%;
}

.title-bar h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #AFBFBE;
  height: auto;
  text-align: center;
  font-size: 3em !important;
}


/* ===¦FORM¦=== */

.form {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5%
}

.form input[type=text]{
  background-color: #AFBFBE;
  border:none;
  margin-right: 50px;
}

.form input[type=submit]{
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


/* ===¦CHARTS¦=== */

.chart-container, .second-container {
  display: inline-block;
  height: 55%;
  width: 55%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.vl {
  margin-top: 3%;
  position: absolute;
  border: medium solid #697272;
  border-radius: 3px;
  height: 60%;
  right: 50%;
  z-index: 0;
}

/* ===¦DATA BREAKDOWS¦=== */

.provider-name-title h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #477270 !important;
}

.provider-info{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  font-display: auto;
  color: #079992;
}
